@font-face
  font-family: cabinbold
  src: url('../fonts/Cabin-Bold/cabin-bold.eot')
  src: url('../fonts/Cabin-Bold/cabin-bold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Cabin-Bold/cabin-bold.woff') format('woff'),
          url('../fonts/Cabin-Bold/cabin-bold.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: cabinregular
  src: url('../fonts/Cabin-Regular/cabin-regular.eot')
  src: url('../fonts/Cabin-Regular/cabin-regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Cabin-Regular/cabin-regular.woff') format('woff'),
          url('../fonts/Cabin-Regular/cabin-regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: convergenceregular
  src: url('../fonts/Convergence/convergence-regular.eot')
  src: url('../fonts/Convergence/convergence-regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Convergence/convergence-regular.woff') format('woff'),
          url('../fonts/Convergence/convergence-regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: open_sanslight
  src: url('../fonts/OpenSans-Light/opensans-light.eot')
  src: url('../fonts/OpenSans-Light/opensans-light.eot?#iefix') format('embedded-opentype'),
          url('../fonts/OpenSans-Light/opensans-light.woff') format('woff'),
          url('../fonts/OpenSans-Light/opensans-light.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: open_sansregular
  src: url('../fonts/OpenSans-Regular/opensans-regular.eot')
  src: url('../fonts/OpenSans-Regular/opensans-regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/OpenSans-Regular/opensans-regular.woff') format('woff'),
          url('../fonts/OpenSans-Regular/opensans-regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal