.experience
  min-height 730px
  background-color #f3f3f3

  h4
    color black
    text-align center
    font-family convergenceregular
    font-size 1.25rem

.technologies-img
  width 90px
  height 90px
  position absolute
  top calc(50% - 45px)
  left: calc(50% - 45px)
  path
    fill white

.circle--green
  background-color #7ae6c6
  width 176px
  height 176px
  position relative
  margin 0 auto 40px

  &:before
    position absolute
    bottom -10px
    left calc(50% - 10.5px)
    content ""
    width: 0
    height: 0
    border-style: solid
    border-width: 11px 10.5px 0 10.5px
    border-color: #7ae6c6 transparent transparent transparent

.perk
  width 30%

.text-experience
  p
    text-align center
    font-family cabinregular
    font-size 1rem