.my-works
  background-color white
  min-height 700px

.work
  background-color black
  max-width 330px
  width 30%
  min-height 200px
  margin-bottom 40px

  &:hover
    transform scale(1.1)
    transition .3s ease

@media only screen and (max-width: 767px)
  .work
    width 48%

@media only screen and (max-width: 378px)
  .work
    width 100%